{% extends 'layout.html' %}

{% block body %}

<form class="form-inline mt-2 mt-md-0 mx-auto" action="/basicscrape">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron jumbotron-fluid text-center mt-4">
          <div class="container">
            <h1 class="display-4">Techverx Scrape</h1>
            <p class="lead">Basic URL scraping service</p>
            <input class="form-control mr-sm-2" type="text" placeholder="Enter URL..." name="url">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">GET</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>




{% endblock %}
